*.default
*~
*.swp
*.class
*.log
*.aux
*.toc
*.jar
*.synctex.gz
/*.pdf
more/jflex
more/tree.tex
more/tree.txt
more/trees/rules.js
/Euclid.imp
/Euclid.out
/LexicalUnit.java
/Part1.pdf
/Symbol.java

# LLVM
*.bc

# Eclipse
.project
*.prefs
/nbproject/private/

# NetBeans
build.xml
manifest.mf
nbproject/
